.main-root{
    background-image: url('./img.jpg');
    height: 100vh;
}
h1{
    color: white;
}
.head{
    display: flex;
    justify-content:space-around;
    padding-top:2%;
    padding-bottom: 2%;
}
